<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-success" [routerLink]="['/manage/newCenter']">New center</button>
    </div>
  </div>
  <div class="row">
    <p-table id="tabla" [value]="centerList" [rows]="5" [paginator]="true"
      urrentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
      <ng-template pTemplate="header" class="header">
        <tr class="cabeceras">
          <th pSortableColumn="idCentre">ID<p-sortIcon field="idCentre"></p-sortIcon>
          </th>
          <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="address">Address<p-sortIcon field="address"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-center>
        <tr>
          <td>{{center.idCentre}}</td>
          <td>{{center.name}}</td>
          <td>{{center.address}}</td>
          <td><button type="button" class="btn btn-danger" (click)="deleteCenter(center.idCentre,center.name)">Delete</button>
            <button type="button" class="btn btn-warning" routerLink="/manage/editCenter/{{center.idCentre}}">Update</button>
          </td>
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>
