<div class="container" *ngIf="court">
  <h1>Id of the Court: {{court.idCourt}}/{{court.sport}}</h1>
  <div class="row col-sm-12">
    <div id="calendar" class="col-sm-8 col-md-8" *ngIf="reservations">
      <full-calendar id="calendario" [options]="calendarOptions" ></full-calendar>
    </div>
    <div class=" col-sm-4 col-md-4">
      <div class="col-sm-12">
        <h1>Reserve this court now!</h1>
        <form>
          <div class="form-group">
            <label>Id of court</label>
            <input type="text" class="form-control" readonly value="{{court.idCourt}}">
          </div>
          <div class="form-group">
            <label>Sport</label>
            <input type="text" class="form-control" readonly value="{{court.sport}}">
          </div>
          <div class="form-group">
            <label>Price per hour</label>
            <input type="text" class="form-control"readonly value="{{court.price}}$">
          </div>
        </form>

        <a class="btn btn-primary" routerLink="/centers" style="margin-right: 1em;">Go back</a>
        <a class="btn btn-primary" routerLink="/court/{{court.idCourt}}/opinions">Opinions</a>

      </div>
    </div>
  </div>
</div>
