<div class="container" *ngIf="opinionList">
  <div class="row">
    <button type="button" class="btn btn-success col-sm-5" [routerLink]="'/court/'+id +'/addOpinion'">Add
      opinion</button>
    <span class="col-sm-2"></span>
    <button type="button" class="btn btn-primary col-sm-5" [routerLink]="'/court/'+id">Go back</button>
  </div>
  <div class="row" style="margin-top: 1em;">
    <div class="col-sm-12">
      <div class="card" *ngFor="let opinion of opinionList" style="margin: 0.8em;">
        <div class="card-header d-flex justify-content-between">
          <div>{{opinion.user}}</div>

        </div>
        <div class="card-body">
          <button id="borrar" *ngIf="checkUser(opinion.user)" type="button" class="btn btn-danger"
            (click)="deleteOpinion(opinion.idOpinion)">Delete</button>
          <button id="editar" *ngIf="checkUser(opinion.user)" type="button" class="btn btn-warning"
            (click)="updateOpinion(opinion.idOpinion)" style="margin-right: 0.2em;">Update</button>
          <blockquote class="blockquote mb-0">
            <p>{{opinion.comment}}</p>
            <footer class="blockquote-footer">{{convertFecha(opinion.datestamp)}}</footer>
          </blockquote>
          <div>
            <div>
              <blockquote class="blockquote mb-0">
                <h5>Score</h5>
              </blockquote>
              <span *ngFor="let star of scoreArray(opinion.score)">
                <img src="../../../assets/estrella.png" style="max-height: 30px;max-width: 30px; margin: 0.1em;">
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
