<div class="row" id="padre">
  <div class="col-lg-4 col-md-12 ">
    <img src="../../../assets/Arte-baloncesto-Hipatia-2.jpg" class="w-100 shadow-1-strong rounded mb-4" />
    <img src="../../../assets/2_1.jpg" class="w-100 shadow-1-strong rounded mb-4" />
  </div>

  <div class="col-lg-4 col-md-12 ">
    <img src="../../../assets/Cam_futbol_03_800x500.jpg" class="w-100 shadow-1-strong rounded mb-4" />
    <img src="../../../assets/centrodeportivo1.jpg" class="w-100 shadow-1-strong rounded mb-4" />
  </div>

  <div class="col-lg-4 mb-4 " id="principal">
    <h5>The website where you can see sports centers near to you and be able to reserve a
    court for your favorites sports!</h5>
    <a [routerLink]="['/centers']"><button type="button" class="btn btn-primary btn-lg" id="botonCentros">View centers now</button></a>
    <h6>For make reserves you must be registered in our website</h6>
    <a [routerLink]="['/signup']"><button type="button" class="btn btn-primary btn-lg">Sign up</button></a>
    <br>
    <br>
    <a [routerLink]="['/login']">Already signed? Log in here</a>
  </div>

</div>

