<div class="container" *ngIf="bookList">
  <div class="row">
    <h1>My bookings</h1>
  </div>
  <div class="row justify-content-center" *ngFor="let book of bookList">
    <div class="card border-primary mb-3" style="width: 25rem;"> <!-- Cambiamos el valor de width a 20rem para hacer las tarjetas más anchas -->
      <div class="card-header">Header</div>
      <div class="card-body text-primary">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <!-- Repite las tarjetas según la cantidad de elementos en bookList -->
  </div>
</div>
