.sidebar {
  background-color: aliceblue;
  height: 100%;
  font-size: large;
  border-radius: 5px;
}

.sidebar-header {
  padding: 10px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu-item {
  padding: 10px;
  cursor: pointer;
}

.sidebar-menu-item.active {
  background-color: #007bff;
  color: #fff;
}
