<div class="d-flex flex-column flex-shrink-0 p-3" id="principal">
  <span class="fs-4">List of centers</span>
  <ul class="collapse show list-group list-group-flush">
    <li (click)="dispararEvento(0)" class="list-group-item py-1">All centers</li>
    <!--Se ira imprimiendo el nombre de cada centro y al hacerle click se dispara el evento
    con el id de ese centro -->
    <li *ngFor="let center of centerList" class="list-group-item py-1" >
      <h6 class="nav-link" aria-current="page" (click)="dispararEvento(center.idCentre)">
        {{center.name}}
      </h6>
    </li>
  </ul>
  <hr>
</div>
