<div class="sidebar" id="sidebar">
  <div class="sidebar-header">
    <span class="fs-4">List of centers</span>
  </div>
  <ul class="sidebar-menu">
    <li (click)="seleccionarCentro(0)" class="sidebar-menu-item" [class.active]="selectedCenterId === 0">
      <p class="pointer">All centers</p>
    </li>
    <!-- Se irá imprimiendo el nombre de cada centro y al hacerle clic se dispara el evento con el id de ese centro -->
    <li *ngFor="let center of centerList" class="sidebar-menu-item" [class.active]="selectedCenterId === center.idCentre" (click)="seleccionarCentro(center.idCentre)">
      <p class="pointer">{{center.name}}</p>
    </li>
  </ul>
</div>
