.navbar {
  padding: 10px;
}

.navbar .navbar-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar .navbar-nav li {
  margin-right: 10px;
}

.navbar .nav-link {
  color: #fff;
  text-decoration: none;
}

.navbar .nav-link:hover {
  color: #f8f8f8;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
}

@media (max-width: 400px) {
  .navbar-nav {
    flex-direction: column;
  }
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  .navbar-nav .nav-link {
    text-align: center;
  }
}
