#sidebar {
  text-align: center;
  float: left;
  width: 20%;
  min-height: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;


}

#cards {
  display: flex;
  float: left;
  width: 80%;
}

.no-margin {
  margin: 0;
}
