<div class="container">
  <div class="row">
    <div class="col-md-4 d-flex" id="sidebar" [ngClass]="{'no-margin': !sidebarMenuVisible}">
      <!--Llama a la funcion con el event emitter que es pistasde... -->
      <app-sidebar [centerList]="centerList" (pistasDeEseCentro)="cargarPistas($event)"></app-sidebar>
    </div>
    <div class="col-md-8" id="cards">
      <div class="row">
        <div class="col-12" style="order: 1;">
          <!--Captura el evento emitido por el componente search-->
          <app-search (centerName)="searchCenter($event)"></app-search>
        </div>
        <div class="col-12" style="order: 2;">
          <app-list [courtList]="courtList" style="flex-grow: 1;"></app-list>
        </div>
      </div>
    </div>
  </div>
</div>

